@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-VariableFont_slnt,wght.ttf"),
    url("../../assets/fonts/Inter-VariableFont_slnt,wght.ttf"); //format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.home-page{
    margin: 60px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.home-page .image {
  width: 304px;
  height: 256px;
  background: #d9d9d9;
}
.home-page h1 {
  width: 191px;
  height: 78px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: center;

  color: #000000;
}
.home-page button {
  width: 144px;
  height: 45px;

  background: #d9d9d9;
  border: none;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
