$defalutfont: 'Roboto';
$main_color: #336559;
$seconary_color: #EF864F;
$third_color: #F7CF7F;
$background_color: #f9f9f9;
.product_wrapper{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.07);
}
.product {
    display: flex;
    flex-direction: row;
    min-height: 88px;
    justify-content: space-around;
    align-items: center;
}
.product_title{
    flex-direction: column;
}
.product_title .title{
    color: $main_color;
    font-weight: 600;
    font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}
.product_title .price{
    color: #9f9f9f;
    font-weight: 600;
    font-size: 11px;
    font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  padding-top: 2px;
}
.expire_date{
    color: #eb574c;
    font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}
.notshown{
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}
.show{
    height: 60px;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.used{
//     width: 16px;
//   height: 12px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: row nowrap;
  padding: 10px 20px;
  background-color: #41a858;
  border-radius: 8px;
  color: white;
  width: 40vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin: 8px;
}
.delete{
    //     width: 16px;
    //   height: 12px;
      display: flex;
      align-items: center;
      gap: 30px;
      flex-direction: row nowrap;
      padding: 10px 20px;
      background-color: #ffffff;
      border-radius: 8px;
      color: #eb574c;
      width: 40vw;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      margin: 8px;
      border: 1px solid #eb574c;
    }

.bin {
    width: 12px;
  height: 14px;
}
.tick {
    width: 16px;
    height: 12px;
}