@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.history-page h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #33655A;
  padding-bottom: 31px;
}
.history-page{
    padding: 117px 28px 0px 28px;
}
