$main_color: #336559;

.add-product-page {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0px;
}

.product-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: $main_color;
}

.product-image {
  // background-color: #d9d9d9;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.price-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: $main_color;
  gap: 10px;
}

.price-container input {
  width: 80%;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid $main_color;
  outline: none;
}

.add-product-buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}

.product-input {
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
}

.used {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: row nowrap;
  padding: 10px 15px;
  background-color: #41a858;
  border-radius: 8px;
  color: white;
  width: 40vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin: 8px;
}

.delete {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: row nowrap;
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 8px;
  color: #eb574c;
  width: 40vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin: 8px;
  border: 1px solid #eb574c;
}

.bin {
  width: 12px;
  height: 14px;
}

.tick {
  width: 16px;
  height: 12px;
}
