 $defalutfont: 'Roboto';
 $main_color: #336559;
 $seconary_color: #EF864F;
 $third_color: #F7CF7F;
 $background_color: #f9f9f9;


// // body{
// //     background-color: black;
// // }
// // .productsTitle{
// //     color: $main_color;
// //     font-size: 24px;
// //     font-weight: 600;
// //     font-stretch: normal;
// //   font-style: normal;
// //   line-height: normal;
// //   letter-spacing: normal;
// //   text-align: left;
// // }
// // img{
// //     width: 57px;
// //     height: 56px;
// // }

.products-page {
    display: flex;
    flex-flow: column nowrap;
    gap: 28px;
    min-height: 100vh;
    background-color: $background_color;
    padding: 28px 28px 90px 28px;
}

.products-page-title {
    font-size: 20px;
    color: $main_color;
    font-weight: 600;
}

.products-page-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    // background-color: black;
}